<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.cordova.plugin.EventSource" version="0.0.1">
    <name>Habit</name>

    <description>An IOS Cordova plugin</description>
    <license>NOS</license>

    <keywords>cordova,IOS,message,alert</keywords>
	
    <engines>
        <engine name="cordova-ios" version=">=5.1.1" />
    </engines>
	
    <js-module name="MyEventSource" src="www/MyEventSource.js">
    	<clobbers target="MyEventSource" />
    </js-module>
	
    <platform name="ios">
	    
        <config-file target="config.xml" parent="/*">
            <feature name="EventSource">
                <param name="ios-package" value="MyEventSource"/>
		<param name="onload" value="true" />
            </feature>
        </config-file>
	<header-file src="src/ios/MyEventSource.h"/>
        <source-file src="src/ios/MyEventSource.m"/>
	    
        <podspec>
            <config>
                <source url="https://github.com/inaka/EventSource.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="EventSource"/>
            </pods>
        </podspec>
	    
    </platform>
</plugin>

